/* COMMON STYLES */
ul,
ol {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #111111;
  background-color: #fafafa;
}
/*/COMMON STYLES */

/* HEADER STYLES */
.page-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.text-italic {
  font-style: italic;
}
.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.menu-link:hover,
.menu-link:focus {
  color: #fd9222;
}
/*/HEADER STYLES */

/* HERO STYLES */
.main-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.by-now-btn {
  font-weight: 600;
  font-size: 14px;
  background: #fd9222;
  color: #ffffff;
}
.how-made-link {
  font-weight: 600;
  font-size: 14px;
}
.how-made-link:hover,
.how-made-link:focus {
  color: #fd9222;
}
.scroll-down-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
}
.scroll-down-link:hover,
.scroll-down-link:focus {
  color: #fd9222;
}

/*/HERO RTYLES */
