/* COMMON STYLES */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #111111;
  background-color: #fafafa;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1168px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.section-paddings {
  padding-top: 50px;
  padding-bottom: 50px;
}
.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}
.accent-color {
  color: #fd9222;
}
/*/COMMON STYLES */

/* HEADER STYLES */
.page-header-container {
  display: flex;
  align-items: center;
  column-gap: 90px;
}

.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.page-logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.page-logo-icon {
  margin-left: 4px;
}
.text-italic {
  font-style: italic;
}
.menu {
  display: flex;
  column-gap: 24px;
}

.menu-link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus {
  color: #fd9222;
}

.social-list-icon {
  fill: none;
}

.social-list {
  display: flex;
  column-gap: 18px;
}
.social-list-link {
  display: block;
  line-height: 0;
  stroke: #111111;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  stroke: #fd9222;
}

/*/HEADER STYLES */

/* HERO STYLES */
.hero-section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  background-image: linear-gradient(
      rgba(30, 24, 35, 0.4),
      rgba(30, 24, 35, 0.4)
    ),
    url("../images/chocolate_background.jpg");
  background-size: cover;
  background-color: #1e1823;
}
.hero-container {
  padding-top: 381px;
  padding-bottom: 40px;
  padding-left: 56px;
  padding-right: 56px;
  color: #111111;
}

.main-title {
  max-width: 484px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  color: #ffffff;
}
.hero-content-wrapper {
  display: flex;
  align-items: center;
}

.by-now-btn {
  max-width: 144px;
  height: 45px;
  border-radius: 100px;
  padding: 14px 40px;
  font-weight: 600;
  font-size: 14px;
  background-color: #fd9222;
  border: none;
  color: #ffffff;
  margin-right: 14px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.by-now-btn:hover,
.by-now-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.how-made-link {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 183px;
  height: 45px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.how-made-link:hover,
.how-made-link:focus {
  color: #fd9222;
  border-color: #fd9222;
}
.scroll-down-link {
  display: flex;
  align-items: center;
  column-gap: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  margin-left: auto;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.scroll-down-link:hover,
.scroll-down-link:focus {
  color: #fd9222;
}

/*/HERO STYLES */

/* BENEFITS STYLES */

.benefits-section {
  background: #1e1823;
  color: #ffffff;
  margin-top: 72px;
  margin-bottom: 50px;
}
.benefits-container {
  padding-left: 34px;
  padding-right: 34px;
}
.benefits-list {
  display: flex;
  column-gap: 88px;
}
.benefits-list-item {
  position: relative;
  width: calc((100% - 2 * 88px) / 3);
}

.benefits-list-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -18px;
  height: 50%;
  width: 1px;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
}

.benefits-list-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin-bottom: 22px;
}

.benefits-list-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 18px;
  color: #fff;
}
.benefits-list-text {
  line-height: 1.29;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/*/BENEFITS STYLES  */

/* INGREDIENTS STYLES */

.ingredients-section-title {
  max-width: 410px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

.ingredients-description {
  max-width: 486px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
}
.ingredients-list {
  display: flex;
  column-gap: 24px;
}
.ingredients-list-item {
  position: relative;
  width: calc((100% - 72px) / 4);
  padding: 28px 32px;
  border-radius: 15px;
  border: 1px solid #fd9222;
  color: #ffffff;
  overflow: hidden;
}

.ingredients-list-item:nth-child(even) {
  background-color: #ffffff;
  color: #111111;
}

.ingredients-list-item:nth-child(4n + 1) {
  background-color: #fd9222;
}

.ingredients-list-item:nth-child(4n + 3) {
  background-color: #1e1823;
  border: 1px solid #1e1823;
}

.ingredients-list-img {
  margin-bottom: 36px;
}

.ingredients-list-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.ingredients-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 15px;
  overflow: auto;
  color: #111111;
  padding: 20px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ingredients-list-item:hover .ingredients-overlay {
  transform: translateY(0%);
}

.ingredients-overlay-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.ingredients-overlay-categories {
  display: flex;
  column-gap: 6px;
  margin-bottom: 14px;
}
.ingredients-overlay-catagory {
  font-size: 10px;
  line-height: 1.2;
  border-radius: 35px;
  padding: 6px 16px;
  border: 1px solid #fd9222;
}
.ingredients-overlay-catagory-primary {
  background-color: #fd9222;
  color: #ffffff;
}
.ingredients-overlay-catagory-secondary {
  background-color: #fafafa;
}
.ingredients-overlay-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/*/INGREDIENTS STYLES */

/* HOW ITS MADE STYLES */

.how-made-content-wrapper {
  display: flex;
  column-gap: 20px;
}

.how-made-text-wrapper {
  flex-grow: 1;
  padding: 32px;
  border-radius: 15px;
  background-color: #ffffff;
}

.how-made-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 28px;
}
.how-made-list {
  padding-right: 26px;
}
.how-made-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.how-made-list-item:not(:last-child) {
  margin-bottom: 24px;
}
/*/HOW ITS MADE STYLES  */

/* REVIEWS STYLES */

.reviews-section {
  padding-bottom: 100px;
}
.reviews-list {
  display: flex;
  column-gap: 28px;
  margin-bottom: 50px;
}
.reviews-list-item {
  width: calc((100% - 56px) / 3);
  padding: 56px 24px 24px;
  background-color: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
}
.reviews-list-avatar {
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
}

.reviews-list-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 24px;
}
.reviews-list-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.leave-reviews-btn {
  display: block;
  max-width: 222px;
  padding: 14px 40px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #fd9222;
  border-radius: 100px;
  font-weight: 600;
  font-size: 18px;
  background-color: #ffffff;
  color: #111111;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.leave-reviews-btn:hover,
.leave-reviews-btn:focus {
  color: #ffffff;
  background-color: #fd9222;
}

/*/REVIEWS STYLES */

/* FOOTER STYLES */
.page-footer {
  background-color: #1e1823;
  color: #ffffff;
}
.page-footer-top-block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  width: 1136px;
}
.page-footer-title {
  max-width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
}
.contact-block {
  font-style: normal;
}
.contact-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 14px;
}
.contact-list-item:not(:last-child) {
  margin-bottom: 4px;
}
.contact-list-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list-link:hover,
.contact-list-link:focus {
  color: #fd9222;
}
.subscripe-form {
  display: flex;
  column-gap: 8px;
}
.subscripe-form-input {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 13px 24px;
  width: 313px;
  height: 52px;
  font-size: 18px;
  letter-spacing: -0.02em;
  background-color: transparent;
  padding-left: 24px;
  color: #ffffff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscripe-form-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.subscripe-form-input:focus {
  outline: none;
  border-color: #fd9222;
}
/*/FOOTER STYLES */

/* MODAL WINDOW STYLE */
.modal-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: relative;
  width: 517px;
  height: 80%;
  max-height: 794px;
  background-color: #fafafa;
  overflow: auto;
  border-radius: 15px;
  padding: 40px;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  stroke: #111111;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  stroke: #fd9222;
}
.modal-slogan {
  max-width: 298px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.7;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.review-form-field-wrapper {
  margin-bottom: 18px;
}

.review-form-field-label {
  display: block;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  margin-top: 8px;
}
.review-form-input-wrapper {
  position: relative;
}

.review-form-input {
  width: 100%;
  height: 68px;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #111111;
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  background-color: transparent;
  padding-left: 62px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus {
  outline: none;
  border-color: #fd9222;
}
.review-form-input-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  stroke: #404040;
  fill: none;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input:focus + .review-form-input-icon {
  stroke: #fd9222;
}
.review-form-comment {
  width: 100%;
  height: 137px;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #111111;
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  background-color: transparent;
  padding: 22px 24px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-comment::placeholder {
  color: rgba(64, 64, 64, 0.3);
}
.review-form-comment:focus {
  outline: none;
  border-color: #fd9222;
}

.review-form-checkbox-wrapper {
  margin-bottom: 40px;
}
.review-form-checkbox-label {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}
.review-form-checkbox:checked
  + .review-form-checkbox-label
  > .review-form-custom-checkbox {
  background-color: #fd9222;
  border-color: #fd9222;
  fill: #ffffff;
}
.review-form-checkbox:focus
  + .review-form-checkbox-label
  > .review-form-custom-checkbox {
  border-color: #fd9222;
}
.review-form-custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  cursor: pointer;
  fill: transparent;
  margin-right: 12px;
}
.review-form-policy-link {
  text-decoration: underline;
}
.review-form-submit-btn {
  max-width: 117px;
  height: 45px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  padding: 14px 40px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: #fd9222;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-submit-btn:hover,
.review-form-submit-btn:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}
/*/MODAL WINDOW STYLE  */
